{% extends "layout.html.twig" %}

{% block content %}
    <div class="content-cont" >
        <div class="me-heading bg-white border-bottom">
            <div class="row">
                <div class="me-hl col-xs-12 col-md-9">
                    <h1 class="content-heading">A tool embryo made in Silex</h1>
                    <p>This demo tool has for goal to show how you can use the framework Silex inside Melis Platform, so you're not locked on ZF.</p>
                </div>
            </div>
        </div>
        <div class="tab-content innerAll spacing-x2">
            <div class="bottom">
                <p>The table below shows the data fetched from the database using Silex.</p>
                <table class="table table-striped table-primary dt-responsive nowrap no-footer dtr-inline albums" cellspacing="0" width="100%" role="grid" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="sorting" style="width: 98px; color: #fff; border-color: #e61c23; background-color: #e61c23;" >ID</th>
                            <th class="sorting" style="width: 98px; color: #fff; border-color: #e61c23; background-color: #e61c23;" >Title</th>
                            <th class="sorting" style="width: 98px; color: #fff; border-color: #e61c23; background-color: #e61c23;" >Date</th>
                            <th class="sorting" style="width: 98px; color: #fff; border-color: #e61c23; background-color: #e61c23;" >Songs</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alb in albums %}
                            <tr id="18" role="row" class="odd">
                                <td style="">{{ alb.alb_id }}</td>
                                <td style="">{{ alb.alb_name }}</td>
                                <td style="">{{ alb.alb_date }}</td>
                                <td style="">{{ alb.alb_song_num }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
